html {
    background-color:#b09f90;
}
body {
    margin: 0;
    padding: 0;
    background-color:#b09f90;
    min-height: 180%;
}
.navbar img{
  float: left;
  left: 10px;
  top: 0px;
  width: 75px;
  height: 75px;
  z-index: 0;
  position:relative;
  text-align: left;
}

nav{
    background: #2a221c;
    position: absolute;
    height: 75px;
    width: 100%;
    margin-top: 0;
    color: lightgray;
 }
  nav ul{
     float: right;
     margin-right: 20px;
  }
  nav ul li{
     display: inline-block;
     line-height: 60px;
     margin: 5px;
  }
  nav ul li a{
     color: snow;
     text-decoration: none;
     font-size: 18px;
     padding: 6px 13px;
     border-radius: 4px;
     text-transform: uppercase;
     font-family: 'Courier New', Courier, monospace;
  }
  nav ul li a:hover{
     background-color: white;
     border-radius: 2.5px;
     color: black;
  }
  
  h2{
    font-family: 'Courier New', Courier, monospace;
    color:#000000; 
  }
  h6{
   font-family: 'Courier New', Courier, monospace;
   font-size: 23px;
   color: #486052;
  }

#map {
      position: absolute;
      height:680px;
      width:63%;
      transform: translate(-50%,-50%);
      margin-top: 20px;
      top: 420px;
      left: 50%;
      font-family: Times;
      font-size: 14px;
      color: #323232;
      z-index: -1;
      border: 4px solid #2a221c;
      border-radius: 15px;
      margin-bottom: 35px;
}
.reportDiv{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;

}
.reportSubmitDialog {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 300px;
  height: 150px;
  background-color: grey;
  border-radius: 15px;
  display: none;
  text-align: center;
}
.reportSubmitDialog button{
  display:block;
  margin:  0 0 20px auto;
  background-color: transparent;
  font-size: 16px;
  color: white;
  background: #7f886e;
  border-radius: 100%;
  width: 32px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
 }
 .reportSubmitDialog p{
  font-size: 18px;
  font-weight: bold;
 }

.logo{
    color: lightgrey;
    font-size: 30px;
    line-height: 80px;
    padding-left: 20px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 3px;
}
.logo a{
    font-size: 35px;
    line-height: 40px;
    padding: 0 100px;
    padding-left: 20px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 3px;
    text-decoration: none;
    color: lightgrey;
}

/*webpage popup*/
.popup{
  background-color: white;
  width: 850px;
  padding: 30px 40px;
  position:absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 52%;
  border: medium solid #C3C9C6;
  border-width: 3px;
  border-radius: 15px;
  display: none;
  text-align: center;
  font-size: 20px;
  box-shadow: 4px 4px 4px #3b433e;
  position: absolute;
}
.popup button{
 display:block;
 margin:  0 0 20px auto;
 background-color: transparent;
 font-size: 20px;
 color: white;
 background: #486052;
 border-radius: 100%;
 width: 30px;
 height: 30px;
 border: none;
 outline: none;
 cursor: pointer;
}
.popup h2{
 margin-top: -20px;
}
.popup p{
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
  color: black;
}

.buttontitle{
 font-size: 20px;
 font-family: 'Courier New', Courier, monospace;
 color: black;
}
/* report div */
.reportDiv{
  position: absolute;
  top: 60px;
  float: left;
  width: 270px;
  height: fit-content;
  color: #2a221c;
  margin: 40px 20px;
}
/* Show report button */
.reportDiv button {
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 7px;
  width: 220px;
  height: 50px;
  background-color: #3b433e;
  border:  2px solid#2a221c;
  color: lightgrey;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.reportDiv button:hover {
  background-color: snow;
}

#whereClauseSelect {
  padding: 4px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 7px;
  border-radius: 5px;
  width: 220px;
  height: 50px;
  background-color:  #3b433e;
  border:  2px solid #2a221c;
  color: lightgrey;
  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Report Form */
.report{
  position: absolute;
  top: 40px;
  margin-left: 100px;
  width: 290px;
  height: fit-content;
  color: #2a221c;
  background-color: #DDD6D3;
  margin: 30px 0px;
  border-radius: 5px;
  border: 3px solid #2a221c;
  padding: 10px 10px;
  z-index: 200;
  border-radius: 5px;
}
.report clearfix::after{
  content:"";
  clear: both;
}
.report button{
  width: 82px;
  height: 35px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid black;
  background: lightgrey;
  margin: 20px 15px;
  color:#2a221c;
}

form{
  overflow: hidden;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 80;
  position: absolute;
  margin-top: 8px;
  margin-left: 0px;
  z-index: -1;

}

/*.report button{
  display:block;
  color: white;
  background: #486052;
  width: 45px;
  height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
 border: black;
}*/
/*.report Cancelbtn{
  padding: 14px 20px;
  background-color: orange;
}
.report Cancelbtn, submit{
  float: left;
  width:50%;
  color: red;
}*/
.leftSideInfo {
  margin-top: 5px;
  color: #2a221c;
  width: 236px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
.leftSideInfo p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.rightSideInfo {
  height: 500px;
  width: 20%;
  position: absolute;
  right: 0%;
  top: 90px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #2a221c;
}
.Legend {
  width: 76%;
  margin: 10px auto;
  border: 2px solid #2a221c;
  background-color: lightgray;
  border-radius: 5px;
  text-align: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:500;
  color: #2a221c;
}
.Legend h3 {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #2a221c;
}
.Links{
  color:#2a221c;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 12px;
}
.imgWTitle {
  display: inline-block;
  margin: 10px 20px;
}
.imgWTitle h5 {
  font-size: 15px;
}
.imgWTitle img {
  border-radius: 5px;
  border: 2px solid #2a221c;
  margin-top: 0px;
}
.imgWTitle img:hover {
  border: 4px solid #102F25;
}
/* Footer */
footer{
    background-color:#2a221c;
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 32px;
    left: 0;
    right: 0;
    z-index: 300;
}
.footer-content{
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: lightgrey;
    padding-top: 10px;
}
.link{
  color: white;
}

/* Report popup */
.reportPopup {
  background-color:white;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
/*Help HTML page***************/
.footer-content2{
  font-size: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color:lightgray;
}
.helpInfo {
  text-align: left;
  width: 60%;
  left: 20%;
  position: relative;
  top: 120px;
}
.helpInfo p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #2a221c;
  font-size: 18px;
}
.question{
  color:#2a221c;
  font-size: 20px;
  text-align: center;
}
.infotitle{
  color:#3b433e;
  font-size: 30px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
 }

/*About HTML page***************/
.about{
  color:#2a221c;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 70px;
  right: 60%;
  text-align: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.description{
  font-size: 17px;
  color:#2a221c;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
.about h3{
  color: #3b433e;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  right: 45%;
}
.credits{
  color:#2a221c;
  position: absolute;
  width: 60%;
  left: 20%;
  top: 419px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.credits h3{
  color: #3b433e;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.credits h4{
  color:#2a221c;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.credits p{
  font-size: 13px;
}

.footer-content1{
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:lightgray;
}

/* Resources HTML Page******************/
.references{
  color:#2a221c;
  top:300px;
}
.information {
  position: absolute;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  top: 50px;
  left: 20%;
  float:center;
  height: 265px;
  width: 60%;
  padding: 0px;
  z-index: 100;
  text-align: center;
}
.information p{
  text-align: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#2a221c;
  
}
.information h4{
  text-align: center;
  font-size: 26px;
  color:#3b433e;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 40px;
  margin-bottom: 0px;
}
.information h5{
  color:#2a221c;
}
.link2{
  color: #2a221c;
  font-weight: 200;
  line-height: 1.5;
}
.footer-content3{
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: lightgrey;
}